    <div class="main"><br>
        <div class="main-banner">
            <p>Gmail</p>
            <p>Imagenes</p>
            <picture class="main-banner_Aplicaciones">
                <!-- <source media="(min-width:1300px)" srcset="ImagenGrande">
                <source media="(min-width:1000px)" srcset="ImagenMedian"> -->
                <img [src]="fotoGrid" alt="Photo" title="Photo">
                <!-- <figcaption>Photo</figcaption> -->
            </picture> 
            <picture class="main-banner_Cuenta">
                <!-- <source media="(min-width:1300px)" srcset="ImagenGrande">
                <source media="(min-width:1000px)" srcset="ImagenMedian"> -->
                <img [src]="fotoPerfil" alt="Photo" title="Photo">
                <!-- <figcaption>Photo</figcaption> -->
            </picture> 
        </div>

        <div class="main-aside">
            <section class="main-aside_logo">
                <picture>
                    <!-- <source media="(min-width:1300px)" srcset="ImagenGrande">
                    <source media="(min-width:1300px)" srcset="ImagenMediana"> -->
                    <img [src]="fotoBrowser" alt="Google" title="Google" class="logoGoogle">
                </picture>
            </section>
            <section class="main-aside_input">
                <div class="main-input-container">
                    <span class="search-icon"></span>
                    <input class="browser" type="text">
                    <span class="micro-icon"></span>
                </div>
            </section>
            <section class="main-buttons">
                <div>
                    <button>Buscar con google</button>
                </div>
                <div>
                    <button>Me siento con suerte</button>
                </div>
            </section>
        </div>    

        <div class="main_footer">
            <P>Colombia</P>
            <div class="main_footerSecond">
                <div class="left">
                    <p>Sobre Google</p>
                    <p>Publicidad</p>
                    <p>Negocios</p>
                    <p>Como funciona la Busqueda</p>
                </div>
                <div class="rigth">
                    <p>Privacidad</p>
                    <p>Condiciones</p>
                    <p>Preferencias</p>
                </div>
            </div>
        </div>


    </div>
