<!-- <app-BannerProjects [quitarBanner]='confirmarQuitar'></app-BannerProjects>
    <div class="container2">
        <div *ngFor='let i of galeria' class="Galeria">
            <p>Referencia Producto {{i.id}}</p>
            <img [src]="i.imagen" alt="">
            <p>{{i.title}}</p>    
            <p>Precio {{i.price | currency}}</p>
            <p>Descripcion: {{i.descripcion | slice:0:2}}</p>
            <!-- <button (click)="addCart()">Agregar al carrito</button> -->
            <!-- <a routerLink="{{i.id}}">Detalle</a>
        </div>
    </div>
<app-footerProjects></app-footerProjects> --> -->