<div class="container">
    <!-- <p>variable {{variable}}</p> -->
    <section>
        <h2>INFORMACIÓN DE TIENDA IMPULS&#64;</h2><br>
        <p>Direccion</p><br>
        <p>Telefono xxxxx ext xxx</p><br><br><br><br>
        <h2>Marketplace</h2><br>
        <p>marketplaceTienda&#64;dominio.co</p><br><br><br><br>
        <h2>Tiendas Físicas</h2><br>
        <p>inforTienda&#64;dominio.co</p><br>
    </section>
    
    <section>
        <h2>ATENCIÓN AL CLIENTE</h2><br>
        <p>Mi cuenta</p><br>
        <p>Felicitaciones quejas o sugerencias</p><br>
        <p>Preguntas</p><br>
        <p>Información tiendas o eventos</p><br>
        <p>Políticas de privacidad</p><br>
        <p>Términos y condiciones</p><br>
        <p>Tarjeta de Credito - Términos y condiciones</p><br>
    </section>
    
    <section>
        <h2>PAGO SEGURO</h2><br>
        <picture> <!--placetopay-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Onlie</figcaption>
        </picture>
        <picture> <!--mediosDePago-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="mediosDePago" title="mediosDePago">
            <figcaption>mediosDePago</figcaption><br><br>
        </picture>
        <h2>PARA DESCUENTOS</h2>
        <p>Utiliza tu Tarjeta de Credito</p> <br>
        <picture> <!--placetopay-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Online</figcaption>
        </picture>
    </section>
<!--     
    <section>

    </section> -->
    
    <section>
        <picture> <!--wishlist-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Online</figcaption>
        </picture>
        <picture> <!--carrito-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Online</figcaption>
        </picture>
        <picture> <!--subir-->
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="placetopay" title="placetopay">
            <figcaption>Pagos Online</figcaption>
        </picture>
        <picture>
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="" alt="Facebook" title="Facebook">
            <figcaption>Facebook</figcaption>
        </picture>
    </section>
</div>