.container{
    display: grid;
    background: #3B4346 url("/assets/bg01.jpg");
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 450px;
    font-size: 2rem;
}

.container div{
    margin: 6rem auto;
    width: 25rem;
    height: 20rem;
}

.container div img{
    width: 100%;
    height: 70%;
}

.container div h2{
    color: white;
}

.container div p{
    color: #939799;
}

@media screen and (max-width: 400px) {

    .container{
        display: grid;
        background: #3B4346 url("/assets/bg01.jpg");
        grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
        font-size: 2rem;
    }

    .container div h2{
        color: white;
    }

    .container div p{
        color: #939799;
    }
}
